<h1>Create a CIF</h1>

<%= form_for @cif do |f| %>
    <% if @cif.errors.any? %>
        <ul>
          <% @cif.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <div>
      Client: <%= @client %>
      <%= f.hidden_field :client_id, @client.id %>
    </div>

    <p>
      <%= f.label :property_id %><br />
      <%= f.select :property_id, Property.list_for_select(current_user) %>
    </p>

    <p>
      <%= f.label :start_date %><br />
      <%= f.date_field :start_date %>
    </p>

    <p>
      <%= f.label :end_date %><br />
      <%= f.date_field :end_date %>
    </p>

    <p>
      <%= f.label :location, 'Property Name or Event Location' %><br />
      <%= f.text_field :location %>
    </p>

    <div title="This section is for Internal Notes only, these will nto be seen by the client.">
      <%= f.label :notes, 'Internal Notes' %><br />
      <%= f.text_area :notes %>
    </div>

    <p><%= f.submit 'Create' %></p>

<% end %>

<div><%= link_to 'Back', cifs_path %></div>

<script type="text/javascript">
    $("div[title]").tooltip();
</script>