<div class="property_form">
  <% form_for @property do |f| %>
      <div><%= f.label :name %><br /><%= f.text_field :name %></div>
      <div><%= f.label :code %><br /><%= f.text_field :code %></div>
      <div><%= f.label :r2_code %><br /><%= f.text_field :r2_code %></div>
      <div><%= f.label :manager_id, "Manager" %><br /><%= f.select :manager_id, User.list_for_select %></div>
      <div><%= f.label :supervisor_id, "Supervisor" %><br /><%= f.select :supervisor_id, User.list_for_select %></div>
      <div><%= f.label :group_id, "Group" %><br /><%= f.select :group_id, list_of_groups(@property) %></div>
      <div><%= f.label :cif_include, "Include on CIF Reports?" %><br /><%= f.check_box :cif_include %></div>
      <div><%= f.label :cif_form, "Form for Surveys?" %><br /><%= f.select :cif_form, Cif::FORMS %></div>
      <div><%= f.label :do_not_send_surveys_for_property, "Do not send surveys for this property?" %><br /><%= f.check_box :do_not_send_surveys_for_property %></div>
      <div><%= f.submit defined?(submit_text) ? submit_text : "Create Property" %></div>
  <% end %>
</div>