<p>
  <img src='http://<%= $CUR_SITE %><%= ($MAILER_IMAGES[@cif.cif_form] || $MAILER_IMAGES[:default]) %>' />
</p>

<p>
  <%= @cif.client.full_salutation %><br />
  <%= @cif.company.name %><br />
  <%= @cif.company.city %>, <%= @cif.company.state %>
</p>

<p>Dear <%= @cif.client %></p>

<% case @cif.cif_form
       when 'csi' %>
    <p>Thank you for choosing Conference Systems to provide your audiovisual requirements for your recent meeting <%= @cif.description_of_dates %><%= @cif.location.nil? ? '.' : " at #{@cif.location}." %></p>
    <p>In an effort to continuously monitor and improve the service levels we provide to our customers we would appreciate if you would take a few moments to complete a brief customer quality questionnaire. Simply click on the attached link: <%= link_to access_survey_url(:id => @cif.id, :passcode => @cif.passcode, :only_path => false), access_survey_url(:id => @cif.id, :passcode => @cif.passcode, :only_path => false) %></p>
    <p>Thank you again for your business, and we look forward to being of service to you again in the future.</p>
<% when 'vae_french' %>
    <p>Merci d'avoir choisi VAE pour satisfaire &#224 vos besoins en audiovisuel lors de votre r&#233cente r&#233union tenue au <%= @cif.location %>.</p>
    <p>Dans le but de continuellement contr&#244ler et am&#233liorer le niveau de service que nous offrons &#224 nos clients, nous vous saurions gr&#233 de prendre quelques minutes pour remplir un court questionnaire sur la qualit&#233 &#224 l'intention de nos clients.  Pour acc&#233der au sondage, cliquez simplement sur le lien suivant: <%= link_to access_survey_url(:id => @cif.id, :passcode => @cif.passcode, :only_path => false), access_survey_url(:id => @cif.id, :passcode => @cif.passcode, :only_path => false) %></p>
    <p>Nous vous remercions encore d'avoir fait affaires avec nous et nous esp&#233rons vous servir &#224 nouveau &#224 l'avenir.  agr&#233er, Dear <%= $ADMINS[:primary][:name] %>: mes salutations distingu&#233es.</p>
<% else %>
    <p>Thank you for choosing Visual Aids Electronics to provide your audiovisual requirements for your recent meeting <%= @cif.description_of_dates %><%= @cif.location.nil? ? '.' : " at #{@cif.location}." %></p>
    <p>In an effort to continuously monitor and improve the service levels we provide to our customers we would appreciate if you would take a few moments to complete a brief customer quality questionnaire. Simply click on the attached link: <%= link_to access_survey_url(:id => @cif.id, :passcode => @cif.passcode, :only_path => false), access_survey_url(:id => @cif.id, :passcode => @cif.passcode, :only_path => false) %></p>
    <p>Thank you again for your business, and we look forward to being of service to you again in the future.</p>
<% end %>

<p>Sincerely,</p>

<p><%= $ADMINS[:coo][:name] %><br />
  <%= $ADMINS[:coo][:title] %></p>

<%= ($CORPORATE_ADDRESS[@cif.cif_form]||$CORPORATE_ADDRESS[:default])[:html] %>

