<%= form_tag request_report_path do %>
    <div>
      Report Type:<br /><%= select_tag :type, options_for_select(Report::TYPES) %>
    </div>
    <div>
      Properties:<br />
      <%= link_to_function 'Select All', "return false;", :id => 'select_all' %><br />
      <%= link_to_function 'Unselect All', "return false;", :id => 'unselect_all' %><br />
      <% if current_user.admin? %>
          <% Property.includes(:supervisor).collect{|r| r.supervisor}.uniq.sort_by{|r| [r.last_name, r.first_name]}.each do |s| %>
              <%= link_to_function "Select Properties for #{s}", "selectSet(#{s.supervised_properties.collect{|r| r.id.to_s}.join(",")});return false;" %><br />
          <% end %>
      <% end %>
      <%= select_tag :properties, options_for_select(Property.list_for_select(current_user)), :multiple => true %>
    </div>
    <div>
      Start Date:<br />
      <%= date_field_tag :start_date %>
    </div>
    <div>
      End Date:<br />
      <%= date_field_tag :end_date %>
    </div>
    <div>
      Type of Report (only used for Property Questions report):<br />
      <%= radio_button_tag :download, false %> In Browser<br />
      <%= radio_button_tag :download, true %> Download<br />
    </div>
    <div>
      <%= submit_tag 'Submit Report' %>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#select_all").click(function() {
            $('#properties').each(function() {
                $('#properties option').attr("selected","selected");
            });
        });

        $('#unselect_all').click(function() {
            $('#properties').each(function() {
                $('#properties option').removeAttr("selected");
            });
        });
    });
    function selectSet(ids) {
        for (i=0;i<ids.length;i++) {
            $('#properties').val(ids[i]).attr("selected", "selected");
        }
    }
</script>